$color-status-unknown: #a8a8a8;
$color-status-ok: #8cc800;
$color-status-critical: #ff324d;

.highlight {
  transition: all 1s ease, filter 0.5s ease;
  background-color: $color-status-unknown;
  border-radius: 5px;
  padding: 0.2em;
  cursor: pointer;
  font-weight: 400;

  &--ok {
    color: #fff;
    background-color: $color-status-ok;
  }

  &--critical {
    color: #fff;
    background-color: $color-status-critical;
  }

  &:hover {
    filter: brightness(130%);
  }
}

.tip {
  color: #fff;
}
