@import 'consts.scss';

@font-face {
  font-family: 'Bellfort';
  src: url('assets/BellfortRoughDemo.otf') format('opentype');
}

@font-face {
  font-family: 'Cutive';
  src: url('assets/Cutive-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src: url('assets/Raleway-Regular.ttf') format('truetype');
}

html,
body,
#root,
.app,
.article {
  height: 100%;
  font-family: Bellfort, sans-serif;

  a {
    color: $color-cello;
  }

  .button {
    border: $color-cello;
    background-color: $color-hippie-blue;
    padding: 10px 20px;
  }
}

.grommet {
  font-family: DejaVu Sans, sans-serif;
}

.header {
  background-color: $color-cello;
  padding: 10px;

  .logo {
    cursor: pointer;
    height: 50px;
    width: auto;
    margin: 0 30px;
  }
}

.paragraph {
  max-width: 100%;
  text-align: justify;
  white-space: pre-wrap;

  .word:hover {
    white-space: pre-wrap;
    background-color: $color-silver;
    border-radius: 5px;
    cursor: pointer;
  }
}

.post {
  .heading {
    font-family: Cutive, serif;
    font-weight: bold;
  }

  .paragraph {
    font-family: Raleway, sans-serif;
  }
}

.footer {
  border-top: 1px solid $color-shingle-fawn;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba($color-cherokee, 0.4);

  .notification {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
  }

  .columns {
    display: flex;
    flex-direction: row;

    & > * {
      flex-grow: 1;
    }

    .image {
      margin: 50px;
    }
  }

  .buttons-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.sign {
  display: block;
  text-align: right;
}

.marked {
  font-weight: bold;
}

.section {
  display: flex;
  align-items: center;
}

.limited {
  max-width: 800px;
}
