@import 'consts.scss';

html,
body,
#root,
.app,
.article {
  height: 100%;
  font-family: Open Sans, sans-serif;

  a {
    color: $color-apple;
  }

  .button {
    border: $color-orange;
    background-color: $color-orange;
    padding: 10px 20px;
  }
}

.article {
  display: flex;

  .header {
    background-color: $color-blue-whale;

    .logo {
      height: 50px;
      width: auto;
      margin: 10px 20px;
    }
  }

  .section {
    flex-grow: 1;
    color: $color-blue-whale;
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;

    .image {
      margin: 50px;
    }

    .paragraph {
      color: $color-blue-whale;
      max-width: none;
      text-align: justify;

      .marked {
        font-weight: bold;
        color: $color-apple;
      }
    }

    &.landing {
      color: $color-white;
      background-color: $color-blue-whale;
      flex-direction: column;

      .paragraph {
        color: $color-white;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    background-color: $color-white;
    border-top: 1px solid $color-gull-gray;

    & > * {
      margin: 20px 40px;
    }
  }
}
