@import 'consts.scss';

html,
body,
#root,
.app,
.article {
  height: 100%;
  font-family: DejaVu Sans, sans-serif;

  a {
    color: $color-apple;
  }

  .button {
    border: $color-orange;
    background-color: $color-orange;
    padding: 10px 20px;
  }
}

.grommet {
  font-family: DejaVu Sans, sans-serif;
}

.header {
  background-color: $color-blue-whale;
  padding: 10px;

  .logo {
    cursor: pointer;
    height: 50px;
    width: auto;
    margin: 0 30px;
  }
}

.paragraph {
  max-width: 100%;
  text-align: justify;
  white-space: pre-wrap;

  .word:hover {
    white-space: pre-wrap;
    background-color: $color-silver;
    border-radius: 5px;
    cursor: pointer;
  }
}

.footer {
  border-top: 1px solid $color-gull-gray;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
  margin: 50px;
  flex-direction: column;
  justify-content: space-between;

  .notification {
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
  }

  .columns {
    display: flex;
    flex-direction: row;

    & > * {
      flex-grow: 1;
    }

    .image {
      margin: 50px;
    }
  }

  .buttons-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
