$color-gull-gray: #9ab2b4;
$color-apple: #53bf46;
$color-orange: #fc6a2a;
$color-silver: #c1c1c1;
$color-wild-sand: #f5f5f5;

$color-white: #fff;
$color-cherokee: #fcda9d;
$color-teak: #b0925c;
$color-shingle-fawn: #634f2a;
$color-hippie-blue: #5c83b0;
$color-cello: #203f63;
$color-black: #000;
